body {
    padding: 20px;
    background-color: #eee;
    border: 1px solid #999;
    height: 700px;
    width: 100%;
}

#left {
    border: 1px solid #999;
    float: left;
    width: 200px;
    position: absolute;
    top: 50px;
}

#left img {
    width: 80px;
    height: 80px;
    margin: 16px 20px;
}

#left h2 {
    float: right;
    font-size: 20px;
    margin-right: 15px;
}

#right {
    border: 1px solid #999;
    width: 120px;
    position: absolute;
    top: 50px;
    right: 20px;
}

#right img {
    width: 80px;
    height: 80px;
    margin: 20px;
}

#content {
    border: 1px solid #999;
    margin: 20px 190px 20px 230px;
    padding: 20px;
}

#content h2 {
    margin: 0px;
}